<header>
  <div class="wrapper">
    <div class="header__main-nav-drop" data-nav="main">Main Nav</div>
    <div class="header__member-nav-drop" data-nav="member">Member Nav</div>
    <div id="branding">
      <%= link_to 'Top Coasters Home', root_path %>
    </div>
    <section class="header__member-nav">
      <% if current_user %>
        <div class="member-nav__member">
          Welcome, <%= current_user.username %> <span class="member-nav__alert-count">0</span>
          <div class="member-nav__member__pop-down">
            <%= image_tag current_user.profile_pic_url, :class => 'member-nav__profile-pic' %>
            <ul>
              <li><%= link_to "My Account", account_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="header__member-nav--guest">
          <li><%= link_to "Create an Account", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        </ul>
      <% end %>
    </section>
  </div>
</header>
<nav class="nav__main">
  <div class="wrapper">
    <ul>
      <li><%= link_to 'Home', root_path, {id: 'nav__home'} %></li>
      <li><a href="/forums">Forums</a></li>
      <li><a href="/database">Database</a></li>
      <li><a href="/exchange">Exchange</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </div>
</nav>
