<% content_for :main do -%>
  <h1>My Account</h1>
  <section class="account__sidebar">
    <div class="account__sidebar__menu">
      <div class="account__sidebar__menu__header">Active Alerts</div>
    </div>
    <div class="account__sidebar__menu">
      <div class="account__sidebar__menu__header">Private Messages</div>
    </div>
    <div class="account__sidebar__menu">
      <div class="account__sidebar__menu__header">Settings</div>
      <nav class="account__sidebar__menu__nav account_sidebar__menu__nav--active">
        <ul>
          <li><%= link_to "Profile Settings", profile_settings_path %></li>
          <li><%= link_to "Account Settings", root_path %></li>
          <li><%= link_to "Change Username", change_username_path %></li>
          <li><%= link_to "Change Email Address", root_path %></li>
          <li><%= link_to "Change Password", root_path %></li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="account__main"><%= yield %></section>
  <div class="clear"></div>
<% end -%>

<%= render :file => 'layouts/base' %>
